.Image {
    color: #222;
    height: 100%;
    max-height: 600px;
    background-color: #222;
    margin: 0;
    padding: 0;
}
.Img {
    width: 100%;
    max-height: 610px;
    margin: auto;
}
.Slider {
    margin-top: 50px;
    max-height: 600px;
}