.Product{
    /* margin-top: 200px ; */
    height: 420px;
    width: 75%;
    background-color:rgb(224, 224, 224);
    padding: 40px;
    padding-bottom: 0;
    border-radius: 15px;
    color: #30475e;
    margin: 100px auto;
}
.Image{
    height: 220px;
    width: 310px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.1rem black);
    align-self: center;
    margin: auto;
    display:block;

}
.Content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
.Content h3,h4 {
    margin: 0;
    padding-top: 20px;
}

.Button {
    border-radius: 10px;
    color: black;
    background-color: #f05454;
    display: block;
    width: 65px;
    padding: 13px 25px;
    text-decoration: none;
    margin: auto;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
}
@media(min-width: 600px) {
    .Product {
        height: 510px;  
        width: 550px;

    }
    .Image {
        width: 350px;
       height: 300px;
    }

 }
@media(min-width: 850px) {
       .Image {
       width: 350px;
       height: 300px;
       margin: 0px;
       border-top-left-radius: 15px;
       border-bottom-left-radius: 15px;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
   }
    .Product {
        height: 300px;
        display: flex;
        justify-content: space-between;
        padding: 0;
        color: #30475e;
        width: 70%;  
        background-color:rgb(235, 233, 233);
        margin: 100px auto;
        border-radius: 18px;
        text-align: center;
   }
  .Button {
       border-radius: 0;
       color: black;
       background-color: #f05454;
       display: inline-block;
       text-decoration: none;
       margin: 0;
       width: 30px;
       height: 260px;
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       padding: 20px; 
       align-content: center;
    }
    .Button div {
        display: block;
        height: 250px; 
        width: 250px;
        color: black;
        font-weight: normal;
        transform: rotate(-90deg);
  }

}
.ButtonHandler{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.Button2{
	width: 40px;
	height: 40px;
	font-size: 2em;
	line-height: 30px;
	border-radius: 10px;
	outline: none;
	border: none;
	color:black;
	cursor: pointer;
    background: transparent;
    transition: all 0.2s ease-out ;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,.2),
				inset 2px 5px 15px rgba(0,0,0,.5);
}
.Button2:active{
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.1),
				inset -1px -2.5px 7.5px rgba(0,0,0,.5);
}
.Button2:disabled{
    cursor: not-allowed;
    color: #ccc;
}
.Input{
	border-radius: 10px;
	outline: none;
	border: none;
	padding: 7px 0;
	width: 100px;
	text-align: center;
	font-size: 1.4em;
	color: black;
	margin: 0 10px;
	background: transparent;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,.2),
				inset 2px 5px 15px rgba(0,0,0,.5);
}