.Product{
    margin: 100px 20px 0px 20px ;
    height: 360px;
    width: 200px;
    background-color:rgb(224, 224, 224);
    padding: 40px;
    padding-bottom: 0;
    border-radius: 15px;
    color: #30475e;
    display: inline-block;
    transition: all 0.2s ease;
}
.Product:hover {
    transform: translateY(-0.25em);
     box-shadow: 0 14px 28px rgba(225, 225, 225, 0.25), 0 10px 10px rgba(225, 225, 225, 0.22);
 
}
.Product h3 {
    padding: 0;
    margin:0;
    margin-bottom: 10px;
    
}
.Product h4,h5 {
    padding: 10px 0;
    margin:0;
}
.Image{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.1rem black);
    margin-bottom: 20px;
}
.Button {
    border-radius: 10px;
    color: black;
    background-color: #f05454;
    display: inline-block;
    padding: 13px 25px;
    text-decoration: none;
}

