.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding-top: 50px;
  text-decoration: none;
 }
    
.NavigationItem a {
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   display: block;
   font-weight: bold;
   color: black;
   /* margin-left: 5px; */
    }
    
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: black;
    }

@media (min-width:500px){
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        padding-top: 0;
    }
    
    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 17px 16px;
        border-bottom: 4px solid transparent;
        margin-right: 5px;
        transition: all 0.5s ease-out;
    }
    
     .NavigationItem a:hover {
         background-color: #f4f4f2aa;
     }

    .NavigationItem a.active {
        background-color: #f4f4f2;
        border-bottom: 4px solid #3b5360;
        
    }

}