.CategoryItem {
    display: flex;
    justify-content: space-between;
    color: #30475e;
    width: 65%;  
    background-color:rgb(235, 233, 233);
    margin: 30px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
}
.Image {
    width: 250px;
    height: 180px;
    margin-right: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.Item {
    display: flex;
    align-items: center;
}
.ArrowRight {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 25px;
    transform: rotate(-45deg);
    vertical-align: top;
    align-self: center;
    width: 25px;
    transform: rotate(45deg);
    margin-right: 25px;
}

 @media(max-width: 850px) {
    .CategoryItem {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media(max-width: 800px) {
    .CategoryItem h2 {
        font-size: 22px;
        margin: 15px;
    }
    .ArrowRight {
        border-width: 0.20em 0.20em 0 0;
        width: 17px;
        height: 17px;
    }
    .Image {
        width: 170px;
        height: 110px;
    }
}

@media(max-width: 550px) {
    .CategoryItem {
        margin: 20px;
        padding: 10px;
    }
    .Item h3 {
        font-size: 17px;
    }
    .ArrowRight {
        border-width: 0.20em 0.20em 0 0;
        width: 13px;
        height: 13px;
    }
    .Image {
        width: 140px;
        height: 80px;
    }
} 