.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top:0;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; 
    background-color:rgb(224, 224, 224);

}

@media (min-width:500px) {
    .SideDrawer{
        display: none;
    }
}

.Open{
 transform: translateX(0);
}

.Close {
   transform: translateX(-100%);
}